@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

@layer base {
  article > h1 {
    text-align: initial;
  }
}

html {
  --color-primary-blue: 138 230 251;
  --color-primary-green: 190 242 100;
  --color-primary-yellow: 255 222 105;
  --color-primary-main: 34 211 238;

  --color-text-body: 230 207 161;
  --color-text-heading: 71 85 105;
  --color-text-highlighted: 201 127 42;
  --color-text-bold: 71 85 105;
  --color-text-muted: 100 116 139;
  --color-text-link: 6 182 212;
  --color-text-code: 0 0 0;

  --color-bg-body: 30 31 33;
  --color-bg-code: 254 243 199;

  --color-border-code: 255 237 213;
}

code:not(pre code):not(.unset) {
  background-color: theme("colors.bg.code");
  color: theme("colors.text.code");
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-weight: 600;
  border: 1px solid theme("colors.border.code");
  margin-bottom: 1.25em;
}

html.dark code:not(pre code) {
  background-color: rgb(var(--color-bg-code) / 0.15);
  border-color: rgb(var(--color-border-code) / 0.15);
}

.animated-link {
  position: relative;
  box-decoration-break: clone;
  text-decoration: none;
}

.animated-link:hover:after {
  transform: translateZ(0) scale(1);
}

.animated-link:after {
  left: 0;
  right: 0;
  bottom: -3px;
  content: "";
  height: 2px;
  position: absolute;
  transform: translateZ(0) scaleX(0);
  transform-origin: left center;
  transition: all 0.15s ease-in-out;
  background-image: linear-gradient(
    to right,
    theme("colors.text.body"),
    theme("colors.text.body")
  );
}

.animated-link.show:after {
  transform: translateZ(0) scale(1);
}
