---
export const prerender = true
import BaseLayout from "../layouts/BaseLayout.astro"
import PostsList from "../components/PostsList.astro"

const pageTitle = "Arthur Werle"
---

<BaseLayout pageTitle={pageTitle}>
  <p class="text-sm pb-4 mt-4">
    currently I craft software for <a class="unset animated-link underline align-middle gap-1 text-sm font-bold inline text-[#c97f2a]" href="https://www.claravine.com" target="_blank">Claravine</a> where I translate complex business needs into simple user experiences.
  </p>
  <div class="mt-10">
    <h2 class="font-bold text-[#c97f2a]">Posts</h2>
    <PostsList size={10} />
  </div>
</BaseLayout>
