---
export const prerender = true
import BaseLayout from "../layouts/BaseLayout.astro"
import PostsList from "../components/PostsList.astro"
import Projects from "../components/Projects.astro"

const pageTitle = "Arthur Werle"
const showPostsSection = import.meta.env.PUBLIC_SHOW_POSTS_SECTION === 'true';
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <p class="text-md md:text-xl pb-4 mt-4">
      Currently crafting software for 
      <a class="unset animated-link underline gap-1 text-lg md:text-2xl inline text-emphasis font-instrument mb-[-8px] font-bold" href="https://www.claravine.com" target="_blank">Claravine</a> 
      where I translate complex business needs into simple user experiences.
    </p>
  </div>

  <div>
    <section class="mt-10">
      <Projects numberOfProjectsToShow={4} />
    </section>
  </div>

  {showPostsSection && (
    <div>
      <section class="mt-10">
        <h2 class="text-emphasis font-dela text-xl md:text-2xl">Posts</h2>
        <span class="text-xs text-gray-500">FYI: I will never use AI to write a single line of this blog</span>
        <PostsList size={10} />
      </section>
    </div>
  )}
</BaseLayout>
