---
export const prerender = true
import BaseLayout from "../layouts/BaseLayout.astro"
import PostsList from "../components/PostsList.astro"
import Projects from "../components/Projects.astro"
import AnimatedSection from '../components/AnimatedSection.astro'

const pageTitle = "Arthur Werle"
---

<BaseLayout pageTitle={pageTitle}>
  <AnimatedSection delay={300}>
    <p class="text-md md:text-xl pb-4 mt-4">
      Currently crafting software for 
      <a class="unset animated-link underline gap-1 text-lg md:text-2xl inline text-emphasis font-instrument mb-[-8px] font-bold" href="https://www.claravine.com" target="_blank">Claravine</a> 
      where I translate complex business needs into simple user experiences.
    </p>
  </AnimatedSection>

  <AnimatedSection delay={600}>
    <section class="mt-10">
      <Projects numberOfProjectsToShow={4} />
    </section>
  </AnimatedSection>

  <AnimatedSection delay={900}>
    <section class="mt-10">
      <h2 class="text-emphasis font-dela text-xl md:text-2xl">Posts</h2>
      <PostsList size={10} />
    </section>
  </AnimatedSection>
</BaseLayout>
