---
import PostsList from "../components/PostsList.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "writings"
---

<BaseLayout pageTitle={pageTitle}>
  <p>here you can see some stuff I wrote. hope this helps you get better. :)</p>
  <PostsList />
</BaseLayout>
