---
export const prerender = true
import PostsList from "../components/PostsList.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Writings"
---

<BaseLayout pageTitle={pageTitle}>
  <p class="text-sm">
    here you can see some stuff I wrote. hope this helps you somehow :)
  </p>
  <PostsList />
</BaseLayout>
