---
import Social from "./Social.astro"
import Navigation from "./Navigation.astro"
---

<footer class="mt-20">
  <p class="text-sm">u can find me on:</p>
  <Social />
  <div class="mt-4 flex justify-between items-baseline">
    <p class="text-sm">copyright © {new Date().getFullYear()} arthur werle</p>
    <Navigation />
  </div>
</footer>
