---
import Social from "./Social.astro"
---

<footer class="mt-20">
  <p>u can find me on:</p>
  <div class="flex gap-3">
    <Social
      platform="linkedin"
      username="in/arthur-werle-a8635a114/"
      label="lnkdin"
    />
    <Social platform="github" username="ArthurWerle" label="gthb" />
    <Social platform="instagram" username="werlearthur/" label="instgrm" />
  </div>
</footer>
