---
import HeaderLink from "./HeaderLink.astro"
---

<nav class="hidden md:inline">
  <section class="text-text-bold">
    <ul class="unset flex gap-4 [&>li]:p-0">
      <li><HeaderLink href="/">home</HeaderLink></li>
      <li><HeaderLink href="/writings">writings</HeaderLink></li>
      <li><HeaderLink href="/tags">tags</HeaderLink></li>
    </ul>
  </section>
</nav>
