---
import HeaderLink from "./HeaderLink.astro"
---

<nav class="md:inline">
  <section>
    <ul class="unset flex gap-4 [&>li]:p-0 justify-center md:justify-start">
      <li><HeaderLink href="/">home</HeaderLink></li>
      <li><HeaderLink href="/writings">writings</HeaderLink></li>
      <li><HeaderLink href="/tags">tags</HeaderLink></li>
    </ul>
  </section>
</nav>
