---
import { READINGS } from "../constants/readings"
import StarIcon from "../icons/Star.astro"

function resolveRatingStars(rate) {
  return Array.from(Array(rate), () => StarIcon)
}
---

<ul>
  {
    READINGS.map((book) => (
      <li class="mt-4">
        <div class="text-sm">
          <p class="flex">
            <span class="font-normal">{book.title},</span>
          </p>
          <p>
            <i>
              <strong class="font-bold">{book.author}</strong>
            </i>
          </p>
        </div>
        <div class="flex">
          {resolveRatingStars(book.rating).map((Icon) => (
            <Icon isFilled size="15px" />
          ))}
        </div>
      </li>
    ))
  }
</ul>
