---
import { READINGS } from "../constants/readings"
import StarIcon from "../icons/Star.astro"

function resolveRatingStars(rate) {
  return Array.from(Array(rate), () => StarIcon)
}
---

<ul>
  {
    READINGS.map((book) => (
      <li class="mt-2">
        <div class="flex flex-col-reverse md:flex-row gap-1 text-sm">
          <p class="flex">
            <i>{book.title}</i>
          </p>
          <p>
            <i>
              <strong>{book.author}</strong>
            </i>
          </p>
        </div>
        <div class="flex">
          {resolveRatingStars(book.rating).map((Icon) => (
            <Icon isFilled size="15px" />
          ))}
        </div>
      </li>
    ))
  }
</ul>
