---
import ArrowLeftIcon from "../icons/ArrowLeft.astro"
---

<a
  class="flex align-middle items-center gap-1 unset animated-link w-min cursor-pointer"
  href="/"
  title="Return to home"
>
  <ArrowLeftIcon />
  home
</a>