---
import GoToIcon from "../icons/GoTo.astro"

const socialMedias = [
  {
    platform: "linkedin",
    username: "in/arthur-werle-a8635a114/",
    label: "Linkedin",
    Icon: GoToIcon,
  },
  {
    platform: "github",
    username: "ArthurWerle",
    label: "Github",
    Icon: GoToIcon,
  },
  {
    platform: "instagram",
    username: "werlearthur/",
    label: "Instagram",
    Icon: GoToIcon,
  },
]

---

<div class="flex gap-3 flex-wrap md:flex-nowrap justify-center md:justify-start">
  <a
    class="unset animated-link underline flex align-middle gap-1 text-sm relative"
    href="arthur-werle-CV.pdf"
    title="Download Arthur's resume"
    download
  >
    <span class="relative z-10">download my CV</span>
    <GoToIcon className="rotate-180" />
  </a>
  {
    socialMedias.map(({ platform, username, label, Icon }) => (
      <a
        href={`https://www.${platform}.com/${username}`}
        class="unset animated-link underline flex align-middle gap-1 text-sm"
        target="_blank"
        title={`access arthur's profile on ${platform}`}
      >
        {label ? label : platform}
        <Icon />
      </a>
    ))
  }
</div>