---
import GoToIcon from "../icons/GoTo.astro"

const socialMedias = [
  {
    platform: "linkedin",
    username: "in/arthurwerle/",
    label: "Linkedin",
    Icon: GoToIcon,
  },
  {
    platform: "github",
    username: "ArthurWerle",
    label: "Github",
    Icon: GoToIcon,
  },
]

---

<div class="flex gap-3 flex-wrap md:flex-nowrap justify-center md:justify-start">
  <a
    class="unset animated-link underline flex align-middle gap-1 text-sm relative"
    href="https://ycrlhk0w59rlnqve.public.blob.vercel-storage.com/Arthur%20Werle%20CV-ezPV0u3uoAaBlXQIZBEb7tTgMJs95R.pdf"
    title="View Arthur's resume"
    target="_blank"
  >
    <span class="relative z-10">my CV</span>
    <GoToIcon />
  </a>
  {
    socialMedias.map(({ platform, username, label, Icon }) => (
      <a
        href={`https://www.${platform}.com/${username}`}
        class="unset animated-link underline flex align-middle gap-1 text-sm"
        target="_blank"
        title={`access arthur's profile on ${platform}`}
      >
        {label ? label : platform}
        <Icon />
      </a>
    ))
  }
</div>