---
const { platform, username, label } = Astro.props
---

<a
  href={`https://www.${platform}.com/${username}`}
  class="unset animated-link underline"
  target="_blank"
  title={`access arthur's profile on ${platform}`}
>
  {label}
</a>
