---
const { tags } = Astro.props
---

<div>
  {
    tags.map((tag) => (
      <a
        href={`/tags/${tag}`}
        title={`Go to ${tag}`}
        class="border-b-2 border-b-gray-300 hover:border-b-[#c97f2a] mr-2"
      >
        #{tag}
      </a>
    ))
  }
</div>
