---
export const prerender = true
import BaseLayout from "../../layouts/BaseLayout.astro"

const pageTitle = "Links"

const socialMedias = [
  {
    platform: "youtube",
    username: "@tvsindicalista",
    label: "YouTube",
    // Icon: InstagramIcon,
  },
  {
    platform: "tiktok",
    username: "@tvsindicalista",
    label: "TikTok",
    // Icon: InstagramIcon,
  },
  {
    platform: "instagram",
    username: "tvsindicalista",
    label: "Instagram",
    // Icon: InstagramIcon,
  },
  {
    platform: "twitter",
    username: "werlearthur",
    label: "Twitter pessoal",
    // Icon: TwitterIcon,
  },
  {
    platform: "instagram",
    username: "werlearthur",
    label: "Instagram pessoal",
    // Icon: InstagramIcon,
  },
]
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col items-center justify-center mt-6 p-[20px]">
    <img 
      src="/profile.jpg" 
      class="rounded-full md:w-[200px] md:h-[200px] w-[150px] h-[150px] object-cover mb-4 border-4 border-black" 
      alt="Arthur Werle's profile picture"
    />
    <h1 class="mb-10">meus links :)</h1>
    <div class="flex flex-col gap-4">
      {
        socialMedias.map(({ platform, username, label }) => (
          <a 
            class="rounded border-2 border-black px-10 py-2 text-center animated-link underline" 
            href={`https://www.${platform}.com/${username}`}
            target="_blank"
            title={`access arthur's profile on ${platform}`}
          >
            <span class="unset align-middle gap-1 text-sm text-center block">
              {label ? label : platform}
            </span>
          </a>
        ))
      }
    </div>
  </div>
</BaseLayout>
