---
import Footer from "../components/Footer.astro"
import ArrowLeftIcon from "../icons/ArrowLeft.astro"
import "../styles/global.css"
const { pageTitle } = Astro.props

const path = Astro.url.pathname.replace(/\/$/, "")
const isHome = path === ""
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/pc.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>arthur werle</title>
  </head>
  <body
    class="max-w-3xl mx-auto min-h-screen text-text-body bg-bg-body p-6 sm:p-8"
  >
    {
      !isHome ? (
        <a
          class="flex align-middle items-center gap-1 unset animated-link w-min cursor-pointer"
          href="/"
          title="Return to home"
        >
          <ArrowLeftIcon />
          home
        </a>
      ) : null
    }
    <h1
      class="font-bold text-text-heading text-center pt-4 pb-2 overflow-hidden"
    >
      <span
        class="text-3xl bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        {pageTitle}
      </span>
    </h1>
    <slot />
    <Footer />
  </body>
</html>
