---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "../styles/global.css"
const { pageTitle } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body
    class="max-w-3xl mx-auto min-h-screen text-text-body bg-bg-body px-6 sm:px-8"
  >
    <Header />
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        {pageTitle}
      </span>
    </h1>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js"
    </script>
  </body>
</html>
