---
import Footer from "../components/Footer.astro"
import ArrowLeftIcon from "../icons/ArrowLeft.astro"
import "../styles/global.css"
const { pageTitle } = Astro.props

const path = Astro.url.pathname.replace(/\/$/, "")
const isHome = path === ""
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/pc.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Arthur Werle is a software engineer which loves reading, writing and sharing things."
    />
    <meta name="generator" content={Astro.generator} />
    <title>arthur werle</title>
  </head>
  <body
    class="max-w-3xl mx-auto min-h-screen text-text-body bg-bg-body p-6 sm:p-8 selection:bg-zinc-600 selection:text-zinc-100"
  >
    {
      !isHome ? (
        <a
          class="flex align-middle items-center gap-1 unset animated-link w-min cursor-pointer"
          href="/"
          title="Return to home"
        >
          <ArrowLeftIcon />
          home
        </a>
      ) : null
    }
    <h1
      class="font-bold text-text-heading pt-4 pb-2 overflow-hidden text-3xl mb-4"
    >
      {pageTitle}
    </h1>
    <slot />
    <Footer />
  </body>
</html>
