---
import Footer from "../components/Footer.astro"
import ArrowLeftIcon from "../icons/ArrowLeft.astro"
import AnimatedIcon from "../icons/AnimatedIcon.astro"
import "../styles/global.css"
const DEFAULT_DESCRIPTION =
  "Arthur Werle is a software engineer."
const { pageTitle, description, image = {} } = Astro.props

const path = Astro.url.pathname.replace(/\/$/, "")
const isHome = path === ""
const isLinksPage = path === "/links"
const showPageTitle = !isLinksPage
const showPageFooter = !isLinksPage
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/profile.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content={image.url ? image.url : ""} />
    <meta
      name="description"
      content={description ? description : DEFAULT_DESCRIPTION}
    />
    <meta name="generator" content={Astro.generator} />
    <title>arthur werle</title>
  </head>
  <body
    class="max-w-3xl mx-auto min-h-screen text-text-body bg-bg-body p-6 sm:p-8 selection:bg-zinc-600 selection:text-zinc-100"
  >
    {
      !isHome && !isLinksPage ? (
        <a
          class="flex align-middle items-center gap-1 unset animated-link w-min cursor-pointer"
          href="/"
          title="Return to home"
        >
          <ArrowLeftIcon />
          home
        </a>
      ) : null
    }
    <div class="flex gap-5 items-center mb-10">
      {isHome && 
        <div class="flex items-center justify-center gap-3">
              <AnimatedIcon />
            <div>
              <h1
                class="font-bold text-text-heading overflow-hidden text-3xl text-[#e6cfa1]"
                >
                {pageTitle}
                <h2 class="text-md font-bold text-[#c97f2a]">I build the things I wish existed.</h2>
              </h1>
            </div>
          </div>
      }
      {
        showPageTitle && !isHome ? (
          <h1
            class="font-bold pt-4 pb-2 overflow-hidden text-3xl text-[#c97f2a]"
          >
            {pageTitle}
          </h1>
        ): null
      }
    </div>
    <slot />
    {
      showPageFooter ? (
        <Footer />
      ) : null
    }
  </body>
</html>
