---
import Tags from "../components/Tags.astro"
import { timestampToHuman } from "../utils/dates"
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props
const formattedDate = timestampToHuman(frontmatter.pubDate)
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="flex mb-1">
    <span class="text-sm mr-1">{frontmatter.author},</span>
    <span class="text-sm"><time>{formattedDate}</time></span>
  </div>

  <div class="mb-5">
    <Tags tags={frontmatter.tags} />
  </div>

  <slot />
</BaseLayout>
